// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2023 - All Rights Reserved
 */

/dts-v1/;

#include <dt-bindings/clock/stm32mp21-clksrc.h>
#include <dt-bindings/reset/st,stm32mp21-rcc.h>
#include <dt-bindings/rif/stm32mp25-rif.h>
#include <dt-bindings/rif/stm32mp21-rifsc.h>
#include <dt-bindings/rif/stm32mp2-risaf.h>
#include <dt-bindings/rif/stm32mp25-risab.h>

#include "stm32mp215.dtsi"
#include "stm32mp21x-bl2.dtsi"
#include "stm32mp215f-dk-cm33tdcid-ostl-bl2-resmem.dtsi"
#include "stm32mp215f-dk-cm33tdcid-ostl-sdcard-bl2-rcc.dtsi"
#include "stm32mp215f-dk-cm33tdcid-ostl-sdcard-bl2-rif.dtsi"
#include "stm32mp21-lpddr4-1x16Gbits-1x16bits-800MHz.dtsi"
#include "stm32mp21-pinctrl.dtsi"
#include "stm32mp21xxan-pinctrl.dtsi"

/ {
	model = "STMicroelectronics STM32MP215F-DK SDCARD OSTL Discovery Board";
	compatible = "st,stm32mp215f-dk-m33tdcid-ostl-sdcard", "st,stm32mp215f-dk", "st,stm32mp215";

	aliases {
		serial0 = &uart4;
	};

	chosen {
		stdout-device = &uart4;
		tfm,entropy = &rng1;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	otp {
		nvmem-cells = <&implementation_id>,
			      <&rpn_otp>,
			      <&bootrom_config_9>,
			      <&id_otp>,
			      <&package_otp>,
			      <&hconf1_otp>,
			      <&bl2_rotpk_0>,
			      <&bl2_rotpk_0>, /*keep the same key for slot1 */
			      <&board_id>,
			      <&entropy_seed>,
			      <&iak>;
		nvmem-cell-names = "implementation_id",
				   "rpn_otp",
				   "bootrom_config_9",
				   "id_otp",
				   "package_otp",
				   "hconf1_otp",
				   "bl2_rotpk_0",
				   "bl2_rotpk_1",
				   "board_id",
				   "entropy_seed",
				   "iak";
	};

};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins_a>;
	clocks = <&rcc CK_KER_UART4>;
	current-speed = <115200>;
	status = "okay";
};

&systick {
	clocks = <&rcc CK_ICN_HS_MCU>;
	clock-frequency = <1000000>; /* tick at 1us */
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins_a>;
	i2c-scl-rising-time-ns = <185>;
	i2c-scl-falling-time-ns = <20>;
	clock-frequency = <100000>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	pmic2: pmic@33 {
//		compatible = "st,stpmic2l";
		compatible = "st,stpmic2";
		reg = <0x33>;
		status = "okay";

		regulators {
			compatible = "st,stpmic2-regulators";

			vddcore: buck1 {
				regulator-name = "vddcore";
				regulator-min-microvolt = <820000>;
				regulator-max-microvolt = <820000>;
				regulator-always-on;
			};
			vdd2_ddr: buck2 {
				regulator-name = "vdd2_ddr";
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
			};
			vddcpu: buck3 {
				regulator-name = "vddcpu";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <910000>;
				regulator-always-on;
			};
			vdda1v8_aon: ldo1 {
				regulator-name = "vdda1v8_aon";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				st,mask-reset;
			};
			vddio_pmic: ldo2 {
				regulator-name = "vddio_pmic";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				st,mask-reset;
			};
			vdd1_ddr: ldo3 {
				regulator-name = "vdd1_ddr";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <1000>;
			};
			vdd3v3_usb: ldo4 {
				regulator-name = "vdd3v3_usb";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};
			vdd_flash: ldo5 {
				regulator-name = "vdd_flash";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};
			vdda_1v8: ldo6 {
				regulator-name = "vdda_1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};
			v3v3: gpo1 {
				regulator-name = "v3v3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};
};

&ddr {
	vdd1-supply = <&vdd1_ddr>;
	vdd2-supply = <&vdd2_ddr>;
	vddq-supply = <&vdd2_ddr>;
	status = "okay";
};

&bsec {
	memory-region = <&bsec_mirror>;
	status = "okay";

	board_id: otp246@3d8 {
		#nvmem-cell-cells = <0>;
		reg = <0x3d8 0x4>;
	};
};

&pwr {
	status = "okay";

	vdda18adc {
		status = "okay";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdda_1v8>;
	};

	vddio1 {
		status = "okay";
		vin-supply = <&vddio_pmic>;
	};

	vddio2 {
		status = "okay";
		vin-supply = <&vdda_1v8>;
	};

	vddio3 {
		status = "okay";
		vin-supply = <&vddio_pmic>;
	};

	vddio {
		status = "okay";
		vin-supply = <&vddio_pmic>;
	};
};

&hconf1_otp {
	shadow-provisionning = <0x00018000>;
};

&rifsc {
	status = "okay";
};

&risaf4 {
	status = "okay";
	entropy = <&rng2>;
};

&rng1 {
	status = "okay";
};

&rng2 {
	status = "okay";
};

&sdmmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_b4_pins_a>;
	st,neg-edge;
	no-mmc;
	bus-width = <4>;
	vmmc-supply = <&vdd_flash>;
	vqmmc-supply = <&vddio1>;
	status = "okay";
};

&tamp {
	status = "okay";
};
